.category {
    padding-top: 12rem;
    padding-bottom: 15rem;
}
.category__title {
    margin-bottom: 6rem;
    text-align: center;
    color: #D4B160;
}
.category-block {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.category-block__item {
    padding: 1.5rem 2rem;
    width: 23.5%;
    border-radius: 10px;
    border: 1.5px solid rgba(129, 129, 129, 0.60);
    background: rgba(129, 129, 129, 0.20);
}
.category-block__item-icon {
    display: inline-block;
    margin-bottom: 4rem;
    padding: 1.5rem;
    border-radius: 10px;
    border: 1.5px solid rgba(129, 129, 129, 0.60);
    background: rgba(129, 129, 129, 0.20);
}
.category-block__item-title {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    font-size: 3rem;
    border-bottom: 1px solid rgba(129, 129, 129, .5);
}
.category-block__list-item {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #818181;
}