@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-MediumItalic.woff2') format(woff2),
    url('../fonts/Roboto-MediumItalic.woff') format(woff);
    font-weight: 500;
    font-style: normal;
    font-display: swap;   
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format(woff2),
    url('../fonts/Roboto-Medium.woff') format(woff);
    font-weight: 500;
    font-style: normal;
    font-display: swap;   
}



@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format(woff2),
    url('../fonts/Roboto-Bold.woff') format(woff);
    font-weight: 700;
    font-style: normal;
    font-display: swap;   
}

@font-face {
    font-family: 'Playfair';
    src: url('../fonts/Playfair-Medium.woff2') format(woff2),
    url('../fonts/Playfair-Medium.woff') format(woff);
    font-weight: 500;
    font-style: normal;
    font-display: swap;   
}

@font-face {
    font-family: 'Playfair';
    src: url('../fonts/Playfair-SemiBold.woff2') format(woff2),
    url('../fonts/Playfair-SemiBold.woff') format(woff);
    font-weight: 600;
    font-style: normal;
    font-display: swap;   
}

@font-face {
    font-family: 'Playfair';
    src: url('../fonts/Playfair-Bold.woff2') format(woff2),
    url('../fonts/Playfair-Bold.woff') format(woff);
    font-weight: 700;
    font-style: normal;
    font-display: swap;   
}


