.future {
    padding-top: 12rem;
    padding-bottom: 10rem;
    min-height: 96rem;
    background: url('../images/home/home-bg.png') no-repeat;
    background-size: cover;
}
.future-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.future-block__title {
    max-width: 78rem;
    margin: 0 auto 2.5rem auto;
    font-size: 5.7rem;
    text-transform: uppercase;
}
.future-block__text {
    margin-bottom: 4rem;
    font-size: 3rem;
    color: #B1B1B1;
}
.future-block__btn {
    display: flex;
    gap: 2rem;
    margin-bottom: 5rem;
}
.future-block__btn-link {
    width: 30rem;
    padding: 1.8rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
    border: none;
    color: #F7F7FF;
}
.future-block__btn-link--left{
    border-radius: 10px;
    background: linear-gradient(279deg, #D4B160 0%, #B4861D 100%);
    transition: all .4s ease-in;
}
.future-block__btn-link--left:hover{
    background: linear-gradient(90deg, #8181811a 0%, #818181 100%);
    transition: all .4s ease-in;
    backdrop-filter: blur(0px);
}
.future-block__btn-link--right{
    border-radius: 10px;
    border: 1.5px solid #818181;
    background: rgba(129, 129, 129, 0.10);
    backdrop-filter: blur(20px);
    transition: all .4s ease-in;
}
.future-block__btn-link--right:hover{
    background: linear-gradient(279deg, #D4B160 0%, #B4861D 100%);
    transition: all .4s ease-in;
}
.future-block__card {
    max-width: 100rem;
    display: flex;
    gap: 2.5rem;
}
.future-block__item {
    width: 32%;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    border: 1.5px solid rgba(129, 129, 129, 0.60);
    background: rgba(129, 129, 129, 0.20);
    backdrop-filter: blur(20px);
}
.future-block__item-top {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}
.future-block__item-img {
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid  #818181;
    background: rgba(129, 129, 129, 0.20);
}
.future-block__item-img img{
    min-width: 30px;
}
.future-block__item-title {
    font-size: 2rem;
}
.future-block__item-text {
    color: #B1B1B1;
}
.category.category-home{
    padding-bottom: 6rem;
}
.block .footer__top{
    margin-bottom: 15rem;
}
/*
card
*/
.card{
    padding-top: 15rem;
    padding-bottom: 8rem;
    margin-bottom: 15rem;
    background: url('../images/home/achievements-bg.png') no-repeat;
    background-size: cover;
}
.achievements {
   margin-bottom: 10rem;
}

.achievements__title,
.affairs__title {
    margin-bottom: 2.5rem;
    font-family: 'Playfair';
    font-size: 4.1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #F7F7FF;
    border: none;
}
.affairs__line{
    margin-bottom: 4rem;
    text-align: center;
}
.achievements-block,
.affairs-block {
    min-width: 100%;
    display: flex;
    gap: 2rem;
    overflow-x: auto;
}
.achievements-block::-webkit-scrollbar,
.affairs-block::-webkit-scrollbar {
   height: 5px;
 
}
.achievements-block::-webkit-scrollbar-thumb,
.affairs-block::-webkit-scrollbar-thumb {
    background-color: rgba(129, 129, 129, 0.60);
    border-radius: 10px; 
}

.achievements-block__item,
.affairs-block__item {
    margin-bottom: 3rem;
    min-width: 34rem;
    padding: 1.5rem 2rem 5rem 2rem;
    border-radius: 10px;
    border: 1.5px solid rgba(129, 129, 129, 0.60);
    background: rgba(129, 129, 129, 0.20);
    backdrop-filter: blur(20px);
}
.affairs {
    margin-bottom: 10rem;
}

.affairs-block__item-title{
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #D4B160;
}
.affairs-block__item {
    min-width: 51rem;
}
.card-box {
    max-width: 98rem;
    margin: 0 auto 0 auto;
    padding: 3rem 2.5rem 6rem 2.5rem;
    border-radius: 20px;
    border: 1.5px solid rgba(129, 129, 129, 0.80);
    background: rgba(129, 129, 129, 0.20);
    backdrop-filter: blur(20px);
}
.card-box__title {
    margin-bottom: 4rem;
    font-size: 3rem;
    text-align: center;
}
.card-box__btn {
    width: 28rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1.8rem 3rem;
    border-radius: 10px;
    background: linear-gradient(279deg, #D4B160 0%, #B4861D 100%);
    color: #F7F7FF;
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
}
.card-box__btn:hover{
    background: linear-gradient(90deg, #8181811a 0%, #818181 100%);
}




/*
order
*/
.order{
    padding-top: 10rem;
    padding-bottom: 10rem;
    position: relative;  
}
.order__title {
    text-align: center;
    border-bottom: none;
}
.order__top {
    margin-bottom: 15rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.order__top-btn {
    position: relative;
    width: 26rem;
    padding: 1.8rem 3rem;
    border-radius: 10px;
    border: 1.5px solid  #818181;
    text-align: center;
    background: rgba(129, 129, 129, 0.10);
    backdrop-filter: blur(20px);
    color: #F7F7FF;
    text-transform: uppercase;
    transition: all .4s ease-in;
    z-index: 2;
}
.order__top-btn:hover{
    background: #D4B160;
    transition: all .4s ease-in;
}
.order-block {
   position: relative;
}
.order-block__img{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.order-block__item {
    margin-bottom: 3rem;
    display: flex;
    padding: 4rem 2rem 1rem 2rem;
    max-width: 51rem;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(129, 129, 129, 0.20) 0%, rgba(129, 129, 129, 0.00) 100%);
    backdrop-filter: blur(20px);
}
.order-block__item-number {
    font-family: 'Playfair';
    font-size: 150px;
    font-weight: 700;
    font-variant-numeric: lining-nums proportional-nums;
    text-transform: uppercase;
    color: #D4B160;
}
.order-block__content {
    margin-left: 4rem;
}
.order-block__wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.order-block__content-img {
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid  #818181;
    background: rgba(129, 129, 129, 0.20);
}
.order-block__content-img img{
    min-width: 30px;
}
.order-block__content-name {
    margin-left: 1.5rem;
    font-size: 2rem;
}
.order-block__content-text {
    color: #818181;
}
.order-block__item-two {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.order-block__item-three {
    margin-left: auto;
}


/*
slider
*/
.slider{
    padding: 4rem 3rem;
    margin-bottom: 20rem;
    border-radius: 20px;
    border: 1.5px solid rgba(129, 129, 129, 0.40);
    background: rgba(129, 129, 129, 0.10);
}

.slider__title {
    font-family: 'Playfair';
    font-size: 4.1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #F7F7FF;
}
.slider-top {
    margin-top: 10rem;
    margin-bottom: 3rem;
}
.slider-top__item,
.slider-bottom__item {
    margin-left: 2rem;
    margin-right: 2rem;
    width: 33rem;
    padding: 4rem 2.5rem;
    border-radius: 10px;
    border: 1.5px solid rgba(129, 129, 129, 0.60);
    background: rgba(129, 129, 129, 0.20);
    backdrop-filter: blur(20px);
}
.slider-top__item img,
.slider-bottom__item img{ 
    width: 200px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

