.nav-icon{
    justify-content: center;
    align-items: center;
    position: relative;
    display: none;
    z-index: 6;
    border-radius: 50%;
}
.nav-icon__middle{
    position: relative;
    width: 30px;
    height: 2px;
    background-color: #F7F7FF;
}
.nav-icon__middle::before,
.nav-icon__middle::after{
    position: absolute;
    content: '';
    width: 30px;
    height: 2px;
    background-color: #F7F7FF;
}
.nav-icon__middle::before{
    top: 7px;
    transition: all .2s ease-in;
}
.nav-icon__middle::after{
    bottom: 7px;
    transition: all .2s ease-in;
}
.nav-icon.nav-icon--active .nav-icon__middle{
    background-color: transparent;
    transition: all .2s ease-in;
}
.nav-icon.nav-icon--active .nav-icon__middle::before{
    transform: rotate(45deg);
    top: 0;
    transition: all .2s ease-in;
}
.nav-icon.nav-icon--active .nav-icon__middle::after{
    transform: rotate(-45deg);
    bottom: 0;
    transition: all .2s ease-in;
}


@media(max-width: 800px){
    .nav-icon{
        position: relative;
        display: block;
        z-index: 3;
    }
    .menu{
        position: fixed;
        width: 100%;
        // height: 100dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        background: rgba(129, 129, 129, 1);
        right: 0;
        top: 0;
        color: #F7F7FF;
        z-index: 2;
        border-radius: 0px;
        transform: translateX(200%);
        transition: all .5s ease-in;
        z-index: 3;
    }
    .menu__list{
        flex-direction: column;
        margin-top: 8.5rem;
        margin-bottom: 2rem;
        gap: 2.5rem;
    }
    .menu__list-item{
        text-align: center;
    }
    .menu__list li a{
        font-size: 16px;
    }
    .menu.nav--active{
        transform: translateX(0%);
        transition: all .5s ease-in;
        margin-left: 0;
    }
    
}