.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    background: rgba(2, 2, 2, 0.20);
    backdrop-filter: blur(2.5px);
    z-index: 5;
}
.container {
}
.modal-block {
    position: relative;
    max-width: 60rem;
    padding: 3rem;
    border-radius: 20px;
    border: 1.5px solid rgba(129, 129, 129, 0.60);
    background: linear-gradient(0deg, rgba(129, 129, 129, 0.20) 0%, rgba(129, 129, 129, 0.20) 100%), #020202;
}
.modal-block__inner {
}
.modal-block__inner-title {
    margin-bottom: 1.5rem;
    font-family: 'Playfair';
    font-size: 3rem;
    font-weight: 700;
    color: #D4B160;
    text-transform: uppercase;
}
.modal-block__inner-text {
    margin-bottom: 6rem;
    font-size: 1.8rem;
    color: #818181;
}
.modal-block__form {
}
.modal-block__form-input {
    width: 100%;
    padding: 2rem;
    margin-bottom: 2.5rem;
    border-radius: 10px;
    border: 1.5px solid rgba(129, 129, 129, 0.60);
    background: rgba(129, 129, 129, 0.05);
    color: #818181;
}
.modal-block__form-textarea {
    margin-bottom: 2rem;
    width: 100%;
    padding: 2rem;
    height: 13rem;

    border-radius: 10px;
    border: 1.5px solid rgba(129, 129, 129, 0.60);
    background: rgba(129, 129, 129, 0.05);
    color: #818181;
    resize: none;
}
.modal-block__form-input::placeholder,
.modal-block__form-textarea::placeholder{
    font-size: 1.6rem;
    color: #818181;
}
.modal-block__close{
    position: absolute;
    top: 24px;
    right: 26px;
}
.contact-block__text {
}
.contact-block__label {
}
.contact-block__form-checkbox {
}
.contact-block__custom-checkbox {
}
.contact-block__form-btn {
}
.btn {
}