@import 'vars';
@import 'fonts';
@import 'normalize';
@import 'reset';
@import 'libs';
@import 'global';
@import 'home';
@import 'footer';
@import 'header';
@import 'requisites';
@import 'media';
@import 'victory';
@import 'contact';
@import 'price';
@import 'advocate';
@import 'blog';
@import 'map';
@import 'category';
@import 'services';
@import 'modal';
@import 'media-mobile';
@import 'mobile-btn';






